<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>강의명</th>
            <th>강사명</th>
            <th>총 강의 수</th>
            <th>사이트</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.id}"></td>
            <td th:text="${subject.name}"></td>
            <td th:text="${subject.tutor}"></td>
            <td th:text="${subject.total}"></td>
            <td th:text="${subject.site.siteName}"></td>
            <td>
                <a th:href="@{/subject/{id}/edit (id=${subject.id})}" class="btn btn-danger" role="button" th:text="수정"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <p th:if="${#lists.isEmpty(subjects)}" th:text="|등록된 강의가 없습니다.|"></p>
</div>
</body>
</html>