<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <form role="form" th:object="${memberForm}"
          method="post">

        <div class="form-group">
            <label th:for="username">이름</label>
            <input type="text" th:field="*{username}" class="form-control" placeholder="이름을 입력하세요" required>
        </div>

        <div class="form-group">
            <label th:for="age">나이</label>
            <input type="text" th:field="*{age}" class="form-control" placeholder="나이를 입력하세요" required>
        </div>

        <div class="form-group">
            <label th:for="position">포지션(front, back, full)</label>
            <input type="text" th:field="*{position}" class="form-control" placeholder="포지션을 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="position">주언어</label>
            <select th:field="*{mainLang}" class="form-control">
                <option value="java">Java</option>
                <option value="python">Python</option>
                <option value="javascript">Javascript</option>
                <option value="php">PHP</option>
                <option value="nodejs">Nodejs</option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="position">부언어</label>
            <select th:field="*{subLang}" class="form-control">
                <option value="java">Java</option>
                <option value="python">Python</option>
                <option value="javascript">Javascript</option>
                <option value="php">PHP</option>
                <option value="nodejs">Nodejs</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-primary">reset</button>
        <button type="submit" th:formaction="@{/member/{id}/delete (id=${memberForm.id})}" class="btn btn-danger">Delete</button>
    </form>
</div>
</body>
</html>