<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <form role="form" action="new" th:object="${siteForm}"
          method="post">

        <div class="form-group">
            <label th:for="siteName">사이트</label>
            <select th:field="*{siteName}" class="form-control">
                <option value="인프런">인프런</option>
                <option value="패스트캠퍼스">패스트캠퍼스</option>
                <option value="제로베이스">제로베이스</option>
                <option value="생활코딩">생활코딩</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>